include *.txt
include LICENSE
recursive-include Output *.html
recursive-include doc *.PNG
recursive-include doc *.bat
recursive-include doc *.download
recursive-include doc *.html
recursive-include doc *.png
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.svg
recursive-include doc *.txt
recursive-include doc Makefile
recursive-include mario *.json
recursive-include mario *.py
recursive-include mario *.stats
recursive-include mario *.xlsx
recursive-include mario *.yaml
include mario/settings/*.yaml
include mario/settings/*.py